{{define "head"}}
<link href="static/profile/fontawesome.css" type="text/css" rel="stylesheet" />
<link href="static/profile_full/css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
<link href="static/profile_full/css/aos.css?ver=1.2.0" rel="stylesheet">
<link href="static/profile_full/css/main.css?ver=1.2.0" rel="stylesheet">
<noscript>
  <style type="text/css">
    [data-aos] {
      opacity: 1 !important;
      transform: translate(0) scale(1) !important;
    }
  </style>
</noscript>
{{ end }}
{{define "content"}}

<header class="d-print-none">
  <div class="container text-center text-lg-left">
    <div class="py-3 clearfix">
      <h1 class="site-title mb-0">Igor Efremov</h1>
      <div class="site-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="https://vk.com/igore" title="VK">
                <i class="fa-brands fa-vk"></i>
                <span class="menu-title sr-only">VK</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/efremovigor" title="GitHub">
                <i class="fa-brands fa-github"></i>
                <span class="menu-title sr-only">GitHub</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:igor198811@gmail.com" title="Google">
                <i class="fa-brands fa-google"></i>
                <span class="menu-title sr-only">Google</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://t.me/Igor198811" title="Telegram">
                <i class="fa-brands fa-telegram"></i>
                <span class="menu-title sr-only">Telegram</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/igor.efremov.1988/" title="Instagram">
                <i class="fab fa-instagram"></i>
                <span class="menu-title sr-only">Instagram</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="page-content">
  <div class="container">
    <button class="menu-button">
      <a href="/"><i class="fa-solid fa-arrow-up"></i></a>
    </button>
<div class="cover shadow-lg bg-white">
<div class="cover-bg p-3 p-lg-4 text-white">
<div class="row">
  <div class="col-lg-4 col-md-5">
    <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="static/profile/content/photo.jpg" width="200"/></div>
  </div>
  <div class="col-lg-8 col-md-7 text-center text-md-start">
    <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">Igor Efremov</h2>
    <p data-aos="fade-left" data-aos-delay="100">Senior Backend Engineer</p>
<!--    <div class="d-print-none" data-aos="fade-left" data-aos-delay="200"><a class="btn btn-light text-dark shadow-sm mt-1 me-1" href="static/temp/right-resume.pdf" target="_blank">Download CV</a><a class="btn btn-success shadow-sm mt-1" href="#contact">Hire Me</a></div>-->
  </div>
</div>
</div>
<div class="about-section pt-4 px-3 px-lg-4 mt-1">
<div class="row">
  <div class="col-md-6">
    <h2 class="h3 mb-3">About Me</h2>
    <p>Hello! I’m Igor Efremov. I have over 10 years of experience developing applications in PHP. In my work I used such bases as Mysql, Redis and ElasticSearch. In my free time I like to write applications in Go</p>
  </div>
  <div class="col-md-5 offset-md-1">
    <div class="row mt-2">
      <div class="col-sm-4">
        <div class="pb-1">Age</div>
      </div>
      <div class="col-sm-8">
        <div class="pb-1 text-secondary" id="myYears">37</div>
        <script>
          document.getElementById('myYears').textContent = new Date().getFullYear() - 1988;
        </script>
      </div>
      <div class="col-sm-4">
        <div class="pb-1">Email</div>
      </div>
      <div class="col-sm-8">
        <div class="pb-1 text-secondary">igor198811@gmail.com</div>
      </div>
      <div class="col-sm-4">
        <div class="pb-1">Phone</div>
      </div>
      <div class="col-sm-8">
        <div class="pb-1 text-secondary"><a href="tel:+79217406192">+79217406192</a></div>
      </div>
      <div class="col-sm-4">
        <div class="pb-1">Address</div>
      </div>
      <div class="col-sm-8">
        <div class="pb-1 text-secondary">24, Staroderevenskaya street, Saint-Petersburg, Russia Federation</div>
      </div>
    </div>
  </div>
</div>
</div>
<hr class="d-print-none"/>
<div class="skills-section px-3 px-lg-4">
<h2 class="h3 mb-3">Professional Skills</h2>
<div class="row">
  <div class="col-md-6">
    <div class="mb-2"><span>PHP</span>
      <div class="progress my-1">
        <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>MYSQL</span>
      <div class="progress my-1">
        <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>Docker</span>
      <div class="progress my-1">
        <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>Golang</span>
      <div class="progress my-1">
        <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 30%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-2"><span>PHPUnit & Testing</span>
      <div class="progress my-1">
        <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 85%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>Microservices</span>
      <div class="progress my-1">
        <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 75%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>Debian</span>
      <div class="progress my-1">
        <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>Frontend</span>
      <div class="progress my-1">
        <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 30%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>
</div>
<hr class="d-print-none"/>
<ul class="nav nav-tabs custom-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="work-tab" data-bs-toggle="tab" data-bs-target="#work" type="button" role="tab">
      <i class="fas fa-briefcase"></i> Work Experience
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education" type="button" role="tab">
      <i class="fas fa-graduation-cap"></i> Education
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="homework-tab" data-bs-toggle="tab" data-bs-target="#homework" type="button" role="tab">
      <i class="fa-solid fa-house"></i> Homework
    </button>
  </li>
</ul>
<div class="tab-content mt-3" id="myTabContent">
  <div class="tab-pane fade show active" id="work" role="tabpanel">
        <div class="work-experience-section px-3 px-lg-4">
          <div class="timeline">
            <div class="timeline-card timeline-card-primary card shadow-sm">
              <div class="card-body">
                <div class="h5 mb-1">Старший Web-программист <span class="text-muted h6">в Петрович ТЕХ</span></div>
                <div class="text-muted text-small mb-2">Июль, 2022 - Present</div>
                <div>Организация конкурентного доступа к данным</br>
                  Оптимизация работы кода</br>
                  Переезд библиотек и сервисов на новые версии php(7.2 - 8.2)</br>
                  Внедрение phpstan</br>
                  Переезд кода в микросервисы</br>
                  Создание индексов в ElasticSearch для поиска данных</br>
                  Валидация ответов api, согласно описанной опенапи (osteel/openapi-httpfoundation-testing)</br>
                  Внедрение глобавльных метрик в приложении (время работы)</br>
                  Работа с событиями kafka</br>
                  Прокси сервер для фикстурных ответов на Golang</br>
                </div>
              </div>
            </div>
            <div class="timeline-card timeline-card-primary card shadow-sm">
              <div class="card-body">
                <div class="h5 mb-1">Senior Backend Engineer <span class="text-muted h6">at Alyce</span></div>
                <div class="text-muted text-small mb-2">Сентябрь, 2020 - Июль, 2022</div>
                <div>
                  Developing API's - openapi</br>
                  Actions on PHP</br>
                  Migrations, optimisations, refactoring</br>
                  Integration tests on kotlin</br>
                  Integrations external services</br>
                  Review and discussing tech solutions.</div>
              </div>
            </div>
            <div class="timeline-card timeline-card-primary card shadow-sm">
              <div class="card-body">
                <div class="h5 mb-1">Старший программист <span class="text-muted h6">в Петрович, Строительный Торговый Дом</span></div>
                <div class="text-muted text-small mb-2">Декабрь, 2017 - Сентябрь, 2020</div>
                <div>Оптимизация сервисов компании</br>
                  Работа над архитектурой приложения</br>
                  Go прототипы (не продакшен)</br>
                  Написание базовых компонентов ядра с нуля на нативе( DI, CircuitBreaker, Serializer, DataProvider, EventDispatcher, Validator)</br>
                  Внешние и внутренние интеграции(платежные системы,soap/json rpc)</br>
                  Распиливание монолита, работа над архитектурой библиотек</br>
                  Покрытие тестами(Unit, Integration,API)</br>
                  Написание различных API.</div>
              </div>
            </div>
            <div class="timeline-card timeline-card-primary card shadow-sm">
              <div class="card-body">
                <div class="h5 mb-1">Web-программист <span class="text-muted h6">в Gardenmoto/12Соток</span></div>
                <div class="text-muted text-small mb-2">Май, 2016 - Декабрь, 2017</div>
                <div>Разработка нового функционала</br>
                  Проектирование БД</br>
                  Оптимизация БД</br>
                  Внесение всех проектов под GIT</br>
                  Разделение веб-серверов</br>
                  Оптимизация работы серверов</br>
                  Разделение проектов</br>
                  Работа над сервисами компании - "под ключ"</br>
                  Работа Yandex метрикой</br>
                  Внедрение Google Воронки</br>
                  Внедрение API - Кладр/YMAP/DPD/Деловые линии</br>
                  Реализация адаптера - BI сервера на Symfony(3.*) на основе PHP-FPM</br>
                  Написание клиента для работы с PHP-FPM сервером</br>
                  Плотная работа из под Docker, также-же опыт с SCSS/SASS и знакомство с Gulp</br>
                  Самостоятельный выбор технической реализации всех задач</br>
                  Проектирование работы Веб-сервисов с 1С</br>
                  Настройка Nginx</br>
                  Настройка системы кеширования на базе Redis. Bash скрипты(деплой)</div>
              </div>
            </div>
            <div class="timeline-card timeline-card-primary card shadow-sm">
              <div class="card-body">
                <div class="h5 mb-1">Программист <span class="text-muted h6">в Кальвера</span></div>
                <div class="text-muted text-small mb-2">Май, 2015 - Май, 2016</div>
                <div>Внедненние API в проект</br>Работа в большой комманде</br>Agile, Scrum</br>Внедренние методологии тестирования в проект</br>
                  Написание автотестов всех уровней</br>
                  Изначальная работа на Merc, потом перешли на Git</br>
                  Небольшой опыт работы из под Docker
                </div>
              </div>
            </div>
            <div class="timeline-card timeline-card-primary card shadow-sm">
              <div class="card-body">
                <div class="h5 mb-1">Web - программист <span class="text-muted h6">в Majordomo</span></div>
                <div class="text-muted text-small mb-2">Октябрь, 2012 - Май, 2015</div>
                <div>Поддержка биллинговых систем</br>
                  Поддержка старых проектов и участие в создании новых</br>
                  Интеграция платежных систем ( yandex, paypal )</br>
                  Опыт разработки MVC
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="tab-pane fade" id="education" role="tabpanel">
        <div class="education-section px-3 px-lg-4 pb-4">
          <div class="timeline">
            <div class="timeline-card timeline-card-success card shadow-sm">
              <div class="card-body">
                <div class="h5 mb-1">Инженер по специальности "Управление и информатика в технических системах" <span class="text-muted h6">из Северо-Западного государственного заочного технического университета</span></div>
                <div class="text-muted text-small mb-2">2005 - 2011</div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="tab-pane fade" id="homework" role="tabpanel">
    <div class="education-section px-3 px-lg-4 pb-4">
      <div class="timeline">
        <div class="timeline-card timeline-card-warning card shadow-sm">
          <div class="card-body">
          <h2 class="card-title"><a class="nav-link" href="https://github.com/efremovigor/go-labyrinth"><i class="fa-solid fa-link"></i>Лабиринт</a></h2>
          <div class="row">
              <div class="col-md-4">
                <ul>
                  <li>Генерирует каждый раз уникальный новый лабиринт</li>
                  <li>Реализовано прохождение его ботом</li>
                  <li>Реализована управление в режиме Player vs Bot</li>
                  </ul>
                </div>
              <div class="col-md-8">
                <img src="https://raw.githubusercontent.com/efremovigor/go-labyrinth/refs/heads/master/lab_demo1.gif" style="max-width: 800px; max-height: 400px;" />
              </div>
          </div>
        </div>
        </div>
        <div class="timeline-card timeline-card-warning card shadow-sm">
          <div class="card-body">
          <h2 class="card-title"><a class="nav-link" href="https://github.com/efremovigor/telegram-bot-golang"><i class="fa-solid fa-link"></i>Бот-ассистент по английскому языку</a></h2>
          <div class="row">
            <div class="col-md-8">
              <div>
                Telegram Бот-помошник, который за тебя пытается найти перевод и сделать анализ слов и строк получая информацию парся сторонние ресурсы<br>
                Такие ресурсы как<br>
                <ul>
                  <li><b>dictionary.cambridge.org</b></li>
                  <li><b>multitran.com</b></li>
                  <li><b>wooordhunt.ru</b></li>
                </ul>
                Умеет отдавать информацию разными способами, картинки, аудиосообщения
                Также встроена база(mysql) куда пишутся всё что мы искали и делается кеш(redis) сырых/полусырых данных, того что уже искали
              </div>
            </div>
            <div class="col-md-2">
              <img src="https://github.com/efremovigor/telegram-bot-golang/blob/master/demo.gif?raw=true" style="max-width: 800px; max-height: 500px;"/>
            </div>
          </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-warning card shadow-sm">
          <div class="card-body">
            <h2 class="card-title"><a class="nav-link" href="https://github.com/efremovigor/game"><i class="fa-solid fa-link"></i>Сетевая игра на Go</a></h2>
            <div class="row">
              <div class="col-md-8">
                <div>
                  Сетевая игра на Go, все вычисления на бекенде, поддерживает лобби<br>
                  Движение - WASD, Атака - space. Целиться - мышь<br>
                <img src="https://github.com/efremovigor/game/raw/master/network_demo.gif" style="max-width: 800px; max-height: 500px;"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="d-print-none"/>
</div></div>
</div>
<script src="static/profile_full/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
<script src="static/profile_full/scripts/aos.js?ver=1.2.0"></script>
<script src="static/profile_full/scripts/main.js?ver=1.2.0"></script>
{{ end }}