{{define "head"}}
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
<noscript>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
</noscript>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" type="text/css" rel="stylesheet" />
<link href="static/profile_full/css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
<link href="static/profile_full/css/aos.css?ver=1.2.0" rel="stylesheet">
<link href="static/profile_full/css/main.css?ver=1.2.0" rel="stylesheet">
<noscript>
  <style type="text/css">
    [data-aos] {
      opacity: 1 !important;
      transform: translate(0) scale(1) !important;
    }
  </style>
</noscript>
{{ end }}
{{define "content"}}

<header class="d-print-none">
  <div class="container text-center text-lg-left">
    <div class="py-3 clearfix">
      <h1 class="site-title mb-0">Igor Efremov</h1>
      <div class="site-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="https://vk.com/igore" title="VK">
                <i class="fa-brands fa-vk"></i>
                <span class="menu-title sr-only">VK</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/efremovigor" title="GitHub">
                <i class="fa-brands fa-github"></i>
                <span class="menu-title sr-only">GitHub</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:igor198811@gmail.com" title="Google">
                <i class="fa-brands fa-google"></i>
                <span class="menu-title sr-only">Google</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://t.me/Igor198811" title="Telegram">
                <i class="fa-brands fa-telegram"></i>
                <span class="menu-title sr-only">Telegram</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/igor.efremov.1988/" title="Instagram">
                <i class="fab fa-instagram"></i>
                <span class="menu-title sr-only">Instagram</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="page-content">
  <div class="container">
<div class="cover shadow-lg bg-white">
<div class="cover-bg p-3 p-lg-4 text-white">
<div class="row">
  <div class="col-lg-4 col-md-5">
    <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="static/profile/content/photo.jpg" width="200"/></div>
  </div>
  <div class="col-lg-8 col-md-7 text-center text-md-start">
    <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">Igor Efremov</h2>
    <p data-aos="fade-left" data-aos-delay="100">Senior Backend Engineer</p>
<!--    <div class="d-print-none" data-aos="fade-left" data-aos-delay="200"><a class="btn btn-light text-dark shadow-sm mt-1 me-1" href="static/temp/right-resume.pdf" target="_blank">Download CV</a><a class="btn btn-success shadow-sm mt-1" href="#contact">Hire Me</a></div>-->
  </div>
</div>
</div>
<div class="about-section pt-4 px-3 px-lg-4 mt-1">
<div class="row">
  <div class="col-md-6">
    <h2 class="h3 mb-3">About Me</h2>
    <p>Hello! I’m Igor Efremov. I have over 10 years of experience developing applications in PHP. In my work I used such bases as Mysql, Redis and ElasticSearch. In my free time I like to write applications in Go</p>
  </div>
  <div class="col-md-5 offset-md-1">
    <div class="row mt-2">
      <div class="col-sm-4">
        <div class="pb-1">Age</div>
      </div>
      <div class="col-sm-8">
        <div class="pb-1 text-secondary">36</div>
      </div>
      <div class="col-sm-4">
        <div class="pb-1">Email</div>
      </div>
      <div class="col-sm-8">
        <div class="pb-1 text-secondary">igor198811@gmail.com</div>
      </div>
      <div class="col-sm-4">
        <div class="pb-1">Phone</div>
      </div>
      <div class="col-sm-8">
        <div class="pb-1 text-secondary"><a href="tel:+79217406192">+79217406192</a></div>
      </div>
      <div class="col-sm-4">
        <div class="pb-1">Address</div>
      </div>
      <div class="col-sm-8">
        <div class="pb-1 text-secondary">24, staroderevenskaya street, saint-petersburg, Russia Federation</div>
      </div>
    </div>
  </div>
</div>
</div>
<hr class="d-print-none"/>
<div class="skills-section px-3 px-lg-4">
<h2 class="h3 mb-3">Professional Skills</h2>
<div class="row">
  <div class="col-md-6">
    <div class="mb-2"><span>PHP</span>
      <div class="progress my-1">
        <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>MYSQL</span>
      <div class="progress my-1">
        <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>Docker</span>
      <div class="progress my-1">
        <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>Golang</span>
      <div class="progress my-1">
        <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 30%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-2"><span>PHPUnit & Testing</span>
      <div class="progress my-1">
        <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 85%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>Microservices</span>
      <div class="progress my-1">
        <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 75%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>Debian</span>
      <div class="progress my-1">
        <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-2"><span>Frontend</span>
      <div class="progress my-1">
        <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 30%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>
</div>
<hr class="d-print-none"/>
<div class="work-experience-section px-3 px-lg-4">
<h2 class="h3 mb-4">Work Experience</h2>
<div class="timeline">
  <div class="timeline-card timeline-card-primary card shadow-sm">
    <div class="card-body">
      <div class="h5 mb-1">Старший Web-программист <span class="text-muted h6">в Петрович ТЕХ</span></div>
      <div class="text-muted text-small mb-2">Июль, 2022 - Present</div>
      <div>Организация конкурентного доступа к данным</br>
        Оптимизация работы кода</br>
        Переезд библиотек и сервисов на новые версии php(7.2 - 8.2)</br>
        Внедрение phpstan</br>
        Переезд кода в микросервисы</br>
      </div>
    </div>
  </div>
  <div class="timeline-card timeline-card-primary card shadow-sm">
    <div class="card-body">
      <div class="h5 mb-1">Senior Backend Engineer <span class="text-muted h6">at Alyce</span></div>
      <div class="text-muted text-small mb-2">Сентябрь, 2020 - Июль, 2022</div>
      <div>
        Developing API's - openapi</br>
        Actions on PHP</br>
        Migrations, optimisations, refactoring</br>
        Integration tests on kotlin</br>
        Integrations external services</br>
        Review and discussing tech solutions.</div>
    </div>
  </div>
  <div class="timeline-card timeline-card-primary card shadow-sm">
    <div class="card-body">
      <div class="h5 mb-1">Старший программист <span class="text-muted h6">в Петрович, Строительный Торговый Дом</span></div>
      <div class="text-muted text-small mb-2">Декабрь, 2017 - Сентябрь, 2020</div>
      <div>Оптимизация сервисов компании</br>
        Работа над архитектурой приложения</br>
        Go прототипы (не продакшен)</br>
        Написание базовых компонентов ядра с нуля на нативе( DI, CircuitBreaker, Serializer, DataProvider, EventDispatcher, Validator)</br>
        Внешние и внутренние интеграции(платежные системы,soap/json rpc)</br>
        Распиливание монолита, работа над архитектурой библиотек</br>
        Покрытие тестами(Unit, Integration,API)</br>
        Написание различных API.</div>
    </div>
  </div>
  <div class="timeline-card timeline-card-primary card shadow-sm">
    <div class="card-body">
      <div class="h5 mb-1">Web-программист <span class="text-muted h6">в Gardenmoto/12Соток</span></div>
      <div class="text-muted text-small mb-2">Май, 2016 - Декабрь, 2017</div>
      <div>Разработка нового функционала</br>
        Проектирование БД</br>
        Оптимизация БД</br>
        Внесение всех проектов под GIT</br>
        Разделение веб-серверов</br>
        Оптимизация работы серверов</br>
        Разделение проектов</br>
        Работа над сервисами компании - "под ключ"</br>
        Работа Yandex метрикой</br>
        Внедрение Google Воронки</br>
        Внедрение API - Кладр/YMAP/DPD/Деловые линии</br>
        Реализация адаптера - BI сервера на Symfony(3.*) на основе PHP-FPM</br>
        Написание клиента для работы с PHP-FPM сервером</br>
        Плотная работа из под Docker, также-же опыт с SCSS/SASS и знакомство с Gulp</br>
        Самостоятельный выбор технической реализации всех задач</br>
        Проектирование работы Веб-сервисов с 1С</br>
        Настройка Nginx</br>
        Настройка системы кеширования на базе Redis. Bash скрипты(деплой)</div>
    </div>
  </div>
  <div class="timeline-card timeline-card-primary card shadow-sm">
    <div class="card-body">
      <div class="h5 mb-1">Программист <span class="text-muted h6">в Кальвера</span></div>
      <div class="text-muted text-small mb-2">Май, 2015 - Май, 2016</div>
      <div>Внедненние API в проект</br>Работа в большой комманде</br>Agile, Scrum</br>Внедренние методологии тестирования в проект</br>
        Написание автотестов всех уровней</br>
        Изначальная работа на Merc, потом перешли на Git</br>
        Небольшой опыт работы из под Docker
      </div>
    </div>
  </div>
  <div class="timeline-card timeline-card-primary card shadow-sm">
    <div class="card-body">
      <div class="h5 mb-1">Web - программист <span class="text-muted h6">в Majordomo</span></div>
      <div class="text-muted text-small mb-2">Октябрь, 2012 - Май, 2015</div>
      <div>Поддержка биллинговых систем</br>
        Поддержка старых проектов и участие в создании новых</br>
        Интеграция платежных систем ( yandex, paypal )</br>
        Опыт разработки MVC
      </div>
    </div>
  </div>
</div>
</div>
<hr class="d-print-none"/>
<div class="page-break"></div>
<div class="education-section px-3 px-lg-4 pb-4">
<h2 class="h3 mb-4">Education</h2>
<div class="timeline">
  <div class="timeline-card timeline-card-success card shadow-sm">
    <div class="card-body">
      <div class="h5 mb-1">Инженер по специальности "Управление и информатика в технических системах" <span class="text-muted h6">из Северо-Западного государственного заочного технического университета</span></div>
      <div class="text-muted text-small mb-2">2005 - 2011</div>
    </div>
  </div>
</div>
</div>
<hr class="d-print-none"/>
<!--<div class="contant-section px-3 px-lg-4 pb-4" id="contact">-->
<!--<h2 class="h3 text mb-3">Contact</h2>-->
<!--<div class="row">-->
<!--  <div class="col-md-7 d-print-none">-->
<!--    <div class="my-2"><form action="https://formspree.io/your@email.com"-->
<!--method="POST">-->
<!--<div class="row">-->
<!--<div class="col-6">-->
<!--  <input class="form-control" type="text" id="name" name="name" placeholder="Your Name" required>-->
<!--</div>-->
<!--<div class="col-6">-->
<!--  <input class="form-control" type="email" id="email" name="_replyto" placeholder="Your E-mail" required>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group my-2">-->
<!--<textarea class="form-control" style="resize: none;" id="message" name="message" rows="4"  placeholder="Your Message" required></textarea>-->
<!--</div>-->
<!--<button class="btn btn-primary mt-2" type="submit">Send</button>-->
<!--</form>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <div class="mt-2">-->
<!--      <h3 class="h6">Address</h3>-->
<!--      <div class="pb-2 text-secondary">140, City Center, New York, U.S.A</div>-->
<!--      <h3 class="h6">Phone</h3>-->
<!--      <div class="pb-2 text-secondary">+0718-111-0011</div>-->
<!--      <h3 class="h6">Email</h3>-->
<!--      <div class="pb-2 text-secondary">Joyce@company.com</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col d-none d-print-block">-->
<!--    <div class="mt-2">-->
<!--      <div>-->
<!--        <div class="mb-2">-->
<!--          <div class="text-dark"><i class="fab fa-twitter mr-1"></i><span>https://twitter.com/templateflip</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="mb-2">-->
<!--          <div class="text-dark"><i class="fab fa-facebook mr-1"></i><span>https://www.facebook.com/templateflip</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="mb-2">-->
<!--          <div class="text-dark"><i class="fab fa-instagram mr-1"></i><span>https://www.instagram.com/templateflip</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="mb-2">-->
<!--          <div class="text-dark"><i class="fab fa-github mr-1"></i><span>https://github.com/templateflip</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
</div></div>
</div>
<!--<footer class="pt-4 pb-4 text-muted text-center d-print-none">-->
<!--  <div class="container">-->
<!--    <div class="my-3">-->
<!--      <div class="h4">Joyce Harrison</div>-->
<!--      <div class="footer-nav">-->
<!--        <nav role="navigation">-->
<!--          <ul class="nav justify-content-center">-->
<!--            <li class="nav-item"><a class="nav-link" href="https://twitter.com/templateflip" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/templateflip" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/templateflip" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item"><a class="nav-link" href="https://github.com/templateflip" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="text-small">-->
<!--      <div class="mb-1">&copy; Right Resume. All rights reserved.</div>-->
<!--      <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
<script src="static/profile_full/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
<script src="static/profile_full/scripts/aos.js?ver=1.2.0"></script>
<script src="static/profile_full/scripts/main.js?ver=1.2.0"></script>
{{ end }}